@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova/ProximaNova-Black.eot),
    url(../fonts/ProximaNova/ProximaNova-Black.woff),
    url(../fonts/ProximaNova/ProximaNova-Black.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  max-width: 100vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  background: #070506 url('../img/main-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1060px;
  margin: auto;
  margin-top: 91px;
}

.header {
  display: flex;
  /* align-items: center; */
}

.nav {
  margin-left: 56px;
}
.nav-link {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  font-style: 16px;
  line-height: 150%;
}

.content {
  margin-top: 78px;
}

.subtitle {
  font-family: ProximaNova, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
}

.title {
  font-family: ProximaNova, sans-serif;
  margin-top: 5px;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
}

.description {
  margin-top: 25px;
  max-width: 572px;
  font-size: 18px;
  line-height: 150%;
  color: #afafaf;
}

.premier {
  margin-top: 25px;
  font-size: 18px;
  line-height: 150%;
  color: #b02000;
}

.premier-date {
  margin-top: 5px;
  font-size: 24px;
  line-height: 150%;
}

.button-play {
  position: relative;
  align-items: center;
  margin-top: 54px;
  padding-left: 34px;
  padding-top: 25px;
  padding-bottom: 24px;
  padding-right: 87px;
  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border: 0;
  border-radius: 300px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.button-play:before {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  background: #fff;
  border-radius: 50%;
  top: 0;
  right: 0;
}
.button-play:after {
  content: '';
  position: absolute;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  top: -8px;
  right: -8px;
  background: rgba(255, 255, 255, 0.3) url('../img/button-play-arrow.svg')
    no-repeat 22px 22px;
}

.episodes {
  margin-top: 59px;
}
.episodes-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
}

.episodes-slider {
  margin-top: 24px;
  display: flex;
  /* justify-content: space-between; */
}

.episodes-slider-item {
  position: relative;
  overflow: hidden;
  padding-left: 29px;
  padding-top: 30px;
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
  width: 250px;
  height: 200px;
  background-color: rgba(80, 80, 80, 0.86);
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms;
}
.episodes-slider-item:hover {
  background-color: rgba(64, 101, 255, 0.86);
}

.episodes-slider-year {
  font-weight: normal;
}

.episodes-slider-description {
  margin-top: 5px;
  width: 90%;
  height: 80px;
  display: block;
}

.episodes-slider-rating {
  display: flex;
  margin-top: 12px;
  align-items: center;
  font-weight: normal;
  font-size: 13px;
}
.episodes-slider-rating-text{
  margin-right: 12px;
}
.episodes-slider-rating-stars{
  width: 68;
  display: flex;
  justify-content: space-between;
}
.star-solid{
  width: 12px;
  height: 12px;
  background: transparent url('../img/star-solid.png') no-repeat center;
}
.star-blank{
  width: 12px;
  height: 12px;
  background: transparent url('../img/star-blank.png') no-repeat center;
}

.episodes-slider-image {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: -1;
}

.episodes-slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78px;
  margin-left: 15px;
}
.episodes-slider-nav-left {
  border: 0px;
  width: 34px;
  height: 34px;
  background: url('../img/slider-left-arrow.svg') no-repeat center;
  cursor: pointer;
}
.episodes-slider-nav-right {
  border: 0px;
  width: 34px;
  height: 34px;
  background: url('../img/slider-right-arrow.svg') no-repeat center;
  cursor: pointer;
}
